# ── Environment Variables ──
.env

# ── Dependencies ──
node_modules/

# ── IntelliJ / WebStorm IDE files ──
.idea/
/shelf/
/workspace.xml
/httpRequests/
/dataSources/
/dataSources.local.xml
*.iml

# ── VS Code ──
.vscode/

# ── Logs ──
logs/
*.log
npm-debug.log*

# ── OS Files ──
.DS_Store
Thumbs.db